.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 75px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  display: block;
}

.header .logo img {
  width: 55px;
}

.header #nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header #nav-menu .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header #nav-menu .navbar .nav__link {
  color: #847a71;
  text-transform: uppercase;
  margin: 10px;
  padding: 5px 0;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  font-size: 14px;
}

.header #nav-menu .navbar .nav__link:hover {
  border-bottom: 2px solid #222;
  color: #222;
}

.header #nav-menu .search-btn {
  cursor: pointer;
  border: none;
  background: none;
  margin-left: 15%;
}

.header #nav-menu .search-btn img {
  width: 18px;
}

@media (max-width: 768px) {
  .header {
    padding: 15px;
  }
  .header .logo img {
    width: 38px !important;
  }
  #nav-menu .search-btn {
    margin-left: auto !important;
  }
  #nav-menu .search-btn img {
    width: 16px !important;
  }
  .header.scrolled {
    padding: 0 15px !important;
  }
  .header.scrolled .logo img {
    width: 32px !important;
  }
}

.header.scrolled {
  padding: 10px 75px;
  background: #f1eeec;
  -webkit-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.7);
}

.header.scrolled .logo img {
  width: 44px;
}

.main {
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
}

.main .home {
  height: 100vh;
  width: 100%;
  background: url("../images/img-slide.png") no-repeat bottom center/cover;
  position: relative;
}

.main .home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .home .overlay .inner {
  width: 100%;
  text-align: left;
  color: #847a71;
  padding: 0 75px;
  z-index: 5;
}

.main .home .overlay .inner .title {
  font-size: 2.7rem;
}

.main .home .overlay .inner .par {
  line-height: 2.5rem;
}

.main .home .overlay .inner .btn {
  margin-top: 1rem;
  padding: 0.9rem 1.8rem;
  background-color: #847a71;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main .home .overlay .inner .btn:hover {
  color: #847a71;
  background-color: transparent;
  border: 1px solid #847a71;
}

.main .home .overlay .image {
  position: absolute;
  margin-left: auto;
}

@media (max-width: 768px) {
  .inner {
    padding: 0 30px !important;
  }
  .inner .title {
    font-size: 1.7rem !important;
  }
  .inner .par {
    font-size: 14px;
  }
}

@media (max-width: 592px) {
  .inner .btn {
    padding: 0.6rem 1.1rem !important;
  }
}

@media (max-width: 500px) {
  .inner {
    margin-bottom: 5rem;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.content .card {
  margin: 20px;
  width: 100%;
  background: #847a71;
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.7);
}

.content .card .card-img img {
  width: 100%;
}

.content .card .card-body {
  padding: 25px 15px;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}

.content .card .card-body h3 {
  cursor: pointer;
  margin-bottom: 1rem;
  color: #fff;
}

.content .card .card-body h3:hover {
  color: #c4c1c1;
}

@media (max-width: 768px) {
  .content .card-body h3 {
    font-size: 16px;
  }
  .content .card-body p {
    font-size: 14px;
  }
}

@media (max-width: 592px) {
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#services {
  padding: 0;
  margin: 0;
  margin-bottom: 3.5rem;
}

#services .content_1,
#services .content_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#services .content_1 .text,
#services .content_2 .text {
  text-align: left;
  color: #fff;
}

#services .content_1 .text h2,
#services .content_2 .text h2 {
  font-size: 40px;
}

#services .content_1 .text p,
#services .content_2 .text p {
  margin-top: 2rem;
  line-height: 28px;
  margin-bottom: 2rem;
}

#services .content_1 .img,
#services .content_2 .img {
  width: 50%;
}

#services .content_1 .text {
  background: #847a71;
  padding-bottom: 15%;
  padding-top: 15%;
  padding-left: 2rem;
  padding-right: 10%;
}

#services .content_2 .text {
  background: #edb57d;
  padding-bottom: 15%;
  padding-top: 15%;
  padding-left: 10%;
  padding-right: 2rem;
}

@media (max-width: 768px) {
  .content_1 .text {
    background: #847a71;
    padding-bottom: 10% !important;
    padding-top: 10% !important;
    padding-right: 5% !important;
  }
  .content_2 .text {
    background: #edb57d;
    padding-bottom: 10% !important;
    padding-top: 10% !important;
    padding-left: 5% !important;
  }
  .content_1,
  .content_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content_1 .text,
  .content_2 .text {
    text-align: left;
    color: #fff;
  }
  .content_1 .text h2,
  .content_2 .text h2 {
    font-size: 24px !important;
  }
  .content_1 .text p,
  .content_2 .text p {
    font-size: 14px;
  }
}

@media (max-width: 592px) {
  .content_1 .text {
    background: #847a71;
    padding-bottom: 5% !important;
    padding-top: 5% !important;
    padding-right: 2rem !important;
  }
  .content_2 .text {
    background: #edb57d;
    padding-bottom: 5% !important;
    padding-top: 5% !important;
    padding-left: 2rem !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content_2 .img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .content_1,
  .content_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content_1 .img,
  .content_2 .img {
    width: 100% !important;
  }
}

#hicking {
  background: url(../images/img-div.jpg) no-repeat;
  background-size: contain;
  min-height: 50vh;
  padding: 15% 20%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#hicking h2 {
  margin-bottom: 1rem;
  font-size: 48px;
  color: #fff;
}

#hicking p {
  font-size: 1.5rem;
  color: #eee;
}

@media (max-width: 1200px) {
  #hicking {
    padding: 15% 15%;
  }
}

@media (max-width: 1024px) {
  #hicking {
    padding: 14% 10%;
  }
  #hicking h2 {
    font-size: 42px;
  }
  #hicking p {
    font-size: 1.3rem;
  }
}

@media (max-width: 858px) {
  #hicking {
    padding: 13% 8%;
  }
}

@media (max-width: 768px) {
  #hicking {
    padding: 13% 5%;
    min-height: 38vh;
  }
  #hicking h2 {
    font-size: 28px;
  }
  #hicking p {
    font-size: 1rem;
  }
}

@media (max-width: 592px) {
  #hicking {
    min-height: 18vh;
    margin-bottom: 3.5rem;
    background: #b1a9a6;
  }
}

@media (max-width: 425px) {
  #hicking {
    padding: 10% 3%;
  }
  #hicking h2 {
    font-size: 22px;
  }
  #hicking p {
    font-size: .8rem;
  }
}

.explore {
  margin-bottom: 3.5rem;
}

.explore img {
  width: 100%;
}

.testim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.5rem;
}

.testim .card {
  margin: 20px;
}

.testim .card h2 {
  margin-bottom: 1rem;
  color: orange;
}

.testim .card p {
  line-height: 1.5;
}

.textimonials {
  padding: 5% 20%;
  text-align: center;
  min-height: 45vh;
  background: url(../images/Template2.jpg) no-repeat top center/cover;
  margin-bottom: 3.5rem;
}

.textimonials span {
  font-family: "Condiment";
}

.textimonials h2 {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.textimonials p {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

@media (max-width: 768px) {
  .testim {
    padding: 0 5%;
  }
  .testim .card h2 {
    font-size: 1.1rem;
  }
  .testim .card p {
    font-size: 14px;
  }
  .textimonials {
    padding: 5% 15%;
  }
}

@media (max-width: 592px) {
  .testim {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textimonials {
    padding: 5% 10%;
  }
}

@media (max-width: 425px) {
  .textimonials {
    padding: 5% 5%;
  }
  .textimonials img {
    width: 32px;
  }
  .textimonials h2 {
    font-size: 14px;
  }
  .textimonials p {
    font-size: 12px;
  }
}

.subscribe {
  background: url(../images/img-div2.jpg) no-repeat top center/cover;
  background-size: cover;
  padding: 15% 20%;
  text-align: center;
  line-height: 1.5;
  min-height: 45vh;
  margin-bottom: 4.5rem;
}

.subscribe h1 {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

.subscribe p {
  font-size: 18px;
  margin-bottom: 2rem;
}

.subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe form input {
  height: 24px;
  padding: 5px 15px;
  width: 40%;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.subscribe form .btn-subs {
  padding: 12px 40px;
  border-radius: 20px;
  background: #111;
  color: #eee;
  border: none;
  position: relative;
  margin-left: -15px;
}

@media (max-width: 768px) {
  .subscribe h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 0.8rem;
  }
  .subscribe p {
    font-size: 18px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 592px) {
  .subscribe {
    padding: 15% 10%;
  }
  .subscribe h1 {
    margin-top: 2.5rem;
    font-size: 1.7rem;
  }
  .subscribe p {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .subscribe h1 {
    margin-top: 10px !important;
  }
}

@media (max-width: 375px) {
  .subscribe {
    padding: 15% 5%;
  }
}

.footer {
  background: url(../images/TEMPLATE-BREEZ.jpg) no-repeat top center/cover;
  background-size: cover;
  padding: 15% 5%;
  line-height: 1.5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.3fr 0.3fr 0.3fr;
      grid-template-columns: 1fr 0.3fr 0.3fr 0.3fr;
  grid-gap: 2rem;
  overflow-x: hidden;
}

.footer h2 {
  margin-bottom: 2rem;
  color: #fff;
}

.footer p {
  color: #eee;
}

.footer a {
  color: #ccc;
  text-transform: capitalize;
}

.footer a:hover {
  color: #fff;
}

.footer .about {
  width: 100%;
}

.footer .about .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.footer .about .icon img {
  width: 32px;
  cursor: pointer;
  margin: 5px;
}

.footer .link1,
.footer .link2,
.footer .link3 {
  width: 100%;
  margin-left: 40%;
}

@media (max-width: 768px) {
  .footer .link1,
  .footer .link2,
  .footer .link3 {
    width: 100%;
    margin-left: 15%;
  }
  .footer h2 {
    font-size: 24px;
    margin-bottom: 1.5rem;
  }
  .footer a, .footer p {
    font-size: 14px;
  }
}

@media (max-width: 592px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .link1,
  .footer .link2,
  .footer .link3 {
    margin-left: 0;
  }
}

.menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.menu-icon_line {
  display: block;
  position: relative;
  background: #847a71;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}

.menu-icon_line::before, .menu-icon_line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #847a71;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.menu-icon_line::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.menu-icon_line::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

input#menu-btn {
  display: none;
}

.menu-icon.active {
  border-radius: 50%;
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.menu-icon.active .menu-icon_line {
  background: #eee;
  -webkit-animation: openMid 0.8s forwards;
          animation: openMid 0.8s forwards;
}

.menu-icon.active .menu-icon_line::before {
  background: #eee;
  -webkit-animation: openTop 0.8s forwards;
          animation: openTop 0.8s forwards;
}

.menu-icon.active .menu-icon_line::after {
  background: #eee;
  -webkit-animation: openBtm 0.8s forwards;
          animation: openBtm 0.8s forwards;
}

@media (max-width: 768px) {
  .header .menu-icon {
    display: block;
    margin-left: 10px;
  }
  .header .menu-icon_line {
    -webkit-animation: closedMid 0.8s backwards;
            animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .header .menu-icon_line::before {
    -webkit-animation: closedTop 0.8s backwards;
            animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .header .menu-icon_line::after {
    -webkit-animation: closedBtm 0.8s backwards;
            animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .header #nav-menu .navbar {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    background: #847a71;
    -webkit-transition: opacity 0.8s 0.5s, -webkit-clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, -webkit-clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s, -webkit-clip-path 1s 0.5s;
    -webkit-clip-path: circle(200px at top right);
            clip-path: circle(200px at top right);
  }
  .header #nav-menu .navbar li {
    margin-top: 2rem;
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .header #nav-menu .navbar li .nav__link {
    display: block;
    padding: 10px 0;
    color: #eee;
  }
  .header #nav-menu .navbar li .nav__link:hover {
    color: #eee;
    background: rgba(204, 204, 204, 0.381);
    border-bottom: 2px solid #eee;
  }
  .header #nav-menu .navbar.show {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .header #nav-menu .navbar.show li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity 0.4s ease-in-out 1s, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    transition: opacity 0.4s ease-in-out 1s, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    transition: opacity 0.4s ease-in-out 1s, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    transition: opacity 0.4s ease-in-out 1s, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  }
  .header #nav-menu .navbar.show li:nth-of-type(1) {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
  }
  .header #nav-menu .navbar.show li:nth-of-type(2) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  .header #nav-menu .navbar.show li:nth-of-type(3) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
  .header #nav-menu .navbar.show li:nth-of-type(4) {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes openBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes closedMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes closedBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

.ScrollTop {
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  bottom: 2rem;
  right: 2rem;
  padding: 15px;
  border-radius: 10%;
  background: #eee;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.7);
  -webkit-transition: background .5s box-shadow .7s ease-in-out .7s;
  transition: background .5s box-shadow .7s ease-in-out .7s;
  -webkit-animation: pulse .2s;
          animation: pulse .2s;
  display: none;
}

.ScrollTop img {
  width: 24px;
}

@media (max-width: 768px) {
  .ScrollTop {
    padding: 10px;
  }
}

@media (max-width: 592px) {
  .ScrollTop {
    bottom: 1rem;
    right: 1rem;
  }
}

.ScrollTop.activate {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  scroll-behavior: smooth;
}

.btn {
  cursor: pointer;
  background: #847a71;
  color: #fff;
  border-radius: 20px;
  padding: 12px 45px;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.btn:hover {
  border: 1px solid #847a71;
  color: #847a71;
  background: transparent;
}

#nav-toggle {
  background: transparent !important;
}

.btn-rm {
  cursor: pointer;
  background: #ea8228;
  color: #fff;
  border-radius: 20px;
  padding: 12px 45px;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.btn-rm:hover {
  border: 1px solid #ea8228;
  color: #ea8228;
  background: transparent;
}

#letsGo {
  background: url("../images/shadow.jpg") no-repeat bottom center/cover;
  padding-bottom: 6rem;
}

section {
  overflow-x: hidden;
  text-align: center;
  padding: 15px 75px;
}

section .head {
  padding: 3.5rem 15rem;
}

section .head .title {
  font-size: 2.7rem;
  color: #847a71;
}

section .head .sub-title {
  font-size: 1rem;
  color: #555;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  section .head {
    padding: 3.5rem 10rem;
  }
}

@media (max-width: 768px) {
  #nav-toggle {
    display: block;
  }
  section {
    padding: 15px 15px;
  }
  section .head {
    padding: 3.5rem 4rem;
  }
}

@media (max-width: 592px) {
  section {
    padding: 15px 5px;
  }
  section .head {
    padding: 3.5rem 3rem;
  }
}
/*# sourceMappingURL=style.css.map */